.form-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  width: 30em;
  margin: auto;

  * {
    font-size: var(--font-size);
    }

  h3 {
    font-size: var(--sub-title);
    font-family: var(--second-family);
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--sand);
  }

  .activeRoom {
    font-weight: 600;
  }
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 2rem;
  gap: var(--gap);

  input {
    padding: 0.5em;
    field-sizing: content;
    width: 100%;
  }

  input[type="number"] {
    field-sizing: content;
    width: auto;
    
  }

  


  button {
    border: 1px solid #ccc;
    font-size: var(--font-size);
    padding: 0.5em 1.5em;
    width: max-content;
    color: var(--primary-black);
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;

    border-radius: 8px; /* Fallback Firefox */

    @supports (corner-shape: squircle) {
      border-radius: 80svh;
      corner-shape: squircle;
    }

    &.active {
      background: linear-gradient(var(--sand), var(--sand-background-dark));
    }
  }
}

.input-field {
  position: relative;
}

.input-field input {
  background: white;
  padding: 1rem 0.75rem 0.25rem;

  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent;
  outline: none;
  display: block;
}

.input-field label {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms ease-out;
  pointer-events: none;
}

.input-field input:is(:focus, :not(:placeholder-shown)) + label {
  top: 0;
  font-size: 0.75rem;
  background: white;
}

.input-field input:is(:focus, :focus-visible) {
  border-color: var(--sand);
}
