.landing-header {
  background: linear-gradient(hsl(0 0 0 / 0.1), var(--sand-background-dark));
  h1 {
    color: var(--secondary-color);
    text-align: center;
    max-width: 15ch;
    place-self: center;
    margin-inline: auto;
  }
}

.landing-container {
  min-block-size: 100vb;
 display: flex;
 flex-direction: column;
 justify-content: center;


  background: linear-gradient(hsl(0 0 100% / .99));
}

.rooms-container {
align-self: center;
justify-content: center;
}

.booking-container {
 align-self: center;

}

.info {
  align-self: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size);
  height: fit-content;
  background: linear-gradient(
    var(--sand-background-dark),
    var(--sand-background-light)
  );
}
