
.rooms-container {
  display: flex;
  flex-direction: column;
  
  h2 {
    margin-bottom: 1rem;
    font-size: var(--sub-title);
    font-family: var(--second-family);
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--sand);
  }
  
  .room-image-wrapper {
    width: clamp(2rem, calc(30vw + 10rem), 24rem);
    height: clamp(2rem, calc(10vh + 5rem), 18rem);
    overflow: hidden;
margin: 3rem;
 place-self: center;   


    &.active {

      @media (max-width: 35em){
       
        margin-top: 2rem;
        width: 80svw;
      }
    }

    &.hidden {
      display: none;
    }
  }
}

.btn-container {
  display: flex;
  gap: var(--gap);

  @media (max-width: 55em) {
    flex-direction: column;
    width: 80svw;
    margin: auto;
  }
}

.booking-btn {
  border: var(--sand) 2px solid;
  font-size: var(--font-size);
  padding: 0.5em 1.5em;
  width: auto;
  color: var(--primary-black);
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 12px; /* Fallback Firefox */


  /* Only supported in certain browsers */
  
  @supports (corner-shape: squircle) {
    border-radius: 100svh;
    corner-shape: squircle;
  }

  &.active {
    background: linear-gradient(var(--sand), var(--sand-background-dark));
    
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  @supports (corner-shape: bevel) {
    corner-shape: round;
    border-radius: 24px;
  }
}
