#root {
  /* Fonts */

  --font-family: "Roboto", sans-serif;
  --second-family: "Marcellus", serif;

  --font-size: clamp(0.5rem, calc(1vw + .5rem), 1rem);
  --title-size: clamp(1.5rem, calc(5vw + 2rem), 5rem);
  --sub-title: clamp(0.7rem, calc(2.5vw + 1.5rem), 3rem);

  --gap: 1rem;

  /* Colors */

  --primary-black: hsl(0 0% 0%);
  --black-background-light: hsla(0 0 0 / 0.4);
  --black-background-dark: hsla(0 0 0 / 0.8);
  --primary-white: hsl(0 100% 100%);
  --sand: hsl(34, 67%, 67%);
  --sand-background-dark: hsla(34, 67%, 67%, 0.4);
  --sand-background-light: hsla(34, 67%, 67%, 0.8);
}

/* ----------------- */
/*     Utilities     */
/* ----------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ----------------- */
/*       Resets      */
/* ----------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

p,
li,
figcaption {
  max-width: 70ch;
  /* Makes it so that there is no orphan words */
  text-wrap: pretty; /* Does not work in Firefox yet! */
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul[class],
ol[class] {
  list-style: "";
}

/* ----------------- */
/*  Styles  */
/* ----------------- */

body {
  background-color: #ffffff;
  background:
    linear-gradient(hsl(0 0 0 / 0.1), hsla(0 0 0 / 0.8)),
    url("/background-image.webp");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: var(--second-family);
  font-size: var(--title-size);
}
