.confirmed-booking {
   font-size: var(--font-size);

   h3 {
    font-family: var(--second-family);
    text-decoration: underline;
    text-decoration-color: var(--sand);
   }
   
   span {
    font-weight: 600;
   }

}